/* Definimos un estilo para botones de acción crítica (rojo) */
.danger-button {
    /* Color de fondo del botón (un rojo vibrante, ej. #E53935) */
    -fx-background-color: #C62828;

    /* Color del texto */
    -fx-text-fill: white;

    /* (Opcional) Color cuando el mouse pasa por encima */
    -fx-background-radius: 5px;
}

/* Estilo para cuando el mouse está sobre el botón (efecto hover) */
.menu-button:hover {
    -fx-background-color: #D32F2F;
}
/* ========================================================= */
/* Estilo del Botón de Gestión (Menú Lateral)                */
/* ========================================================= */
.menu-button {
    /* Color de fondo del botón (un rojo vibrante, ej. #E53935) */
    -fx-background-color: #C62828;
    -fx-pref-height: 30px;

    /* Color del texto */
    -fx-text-fill: white;

    /* (Opcional) Color cuando el mouse pasa por encima */
    -fx-background-radius: 5px;
}

/* Estilo para cuando el mouse está sobre el botón (efecto hover) */
.menu-button:hover {
    -fx-background-color: #D32F2F;
}

#rootPane {
    /* Define un relleno (margen interno) de 10 píxeles en todos los lados */
    -fx-padding: 10px;
}